li {
 width: 2em;
 height: 2em;
 text-align: center;
 line-height: 2em;
 border-radius: 1em;
 background:#5e34eb;
 margin: 0 1em;
 display: inline-block;
 color: white;
 position: relative;

}

li::before{
 content: '';
 position: absolute;
 top: 1em;
 left: -4em;
 width: 4em;
 height: .1em;
 background: #5e34eb;
 /* z-index: -1; */
}

li:first-child::before {
 display: none;

}

.active {
 background:#5e34eb ;
 z-index: 99;
}

.active ~ li {
 background: lightblue;
}

.active ~ li::before {
 background: lightblue;
}
